header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

.menu-icon,
.logout-icon {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 6px;
}

.menu-icon i,
.logout-icon i {
  font-size: 24px;
  color: #28a740;
  cursor: pointer;
}

.header-title {
  font-size: 3.5rem;
  font-weight: bold;
  color: #2465B0;
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 3;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.18);
}

#sidebar.active {
  left: 0;
}

.logo img {
  width: 100%;
  max-width: 80px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

#sidebar nav ul {
  list-style: none;
  padding: 0;
}

#sidebar nav ul li {
  margin: 0.5px 0;
  background: #ccc;
  color: rgba(40, 167, 64, 0.9)
}

#sidebar nav ul li:hover {
  color: #fff;
  background-color: #28a740;
  cursor: pointer;
}

#sidebar nav ul a li {
  text-decoration: none;
  font-size: 20px;
}

.dashboard-container {
  padding: 130px 20px 80px 20px;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  min-height: 100vh;
  overflow-x: hidden;
}

.search-card {
  margin-bottom: 20px;
}

.search-card label {
  font-weight: bold;
}

.search-card input {
  width: 100%;
  padding: 8px;
  margin-top: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.metrics {
  display: flex;
  gap: 100px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 100px;
}

.metric-card {
  flex: 1;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  padding: 0px 0px 40px 0px;
}

.vehicle-selector #veiculo {
  margin-top: 28px;
  margin-left: 55px;
  padding: 10px 40px;
  border-radius: 4px;
  border: 1px solid #ccc;

}

.vehicle-selector label {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: #333;
  font-size: 20px;
  padding: 4px 20px;
  width: 100%;
}

.vehicle-selector select {
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
}

.metric-card h3 {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  color: #333;
  font-size: 20px;
  padding: 6px 20px;
}

.metric-card p {
  margin-top: 20px;
  font-size: 24px;
  margin-left: 20px;
  font-weight: bold;
  color: #007FFF;
}

.metric-card h6 {
  margin-top: -15px;
  font-size: 15px;
  margin-left: 20px;
}

.vehicle-image {
  text-align: center;
  margin-bottom: 30px;
}

.vehicle-image img {
  width: 100%;
  max-width: 800px;
  height: auto;
  border-radius: 12px;
  margin: 0 auto;
}


.vehicle-table {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow-x: auto;
  background-color: white;
}

.vehicle-table input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 300px;
  max-width: 100%;
}

.vehicle-table table {
  width: 100%;
  border-collapse: collapse;
}

.vehicle-table th {
  padding: 12px;
  border: 1px solid #ddd;
}

.vehicle-table td {
  padding: 12px;
}

.vehicle-table th {
  background-color: #003366;
  color: white;

}

.vehicle-table td {
  font-weight: 600;
}

#footer {
  height: 20px;
  background-color: #003366;
}

@media (max-width: 600px) {
  .metrics {
    flex-direction: column;
    gap: 20px;
    margin: 20px;
  }

  .metric-card {
    padding: 20px;
  }

  .vehicle-selector #veiculo {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }

  .vehicle-selector label {
    font-size: 18px;
    padding: 4px 10px;
  }

  .vehicle-image img {
    width: 100%;
    max-width: 100%;
  }

  .vehicle-table input {
    width: 90%;
  }

  .header-title {
    font-size: 18px;
    left: 50%;
    transform: translateX(-50%);
  }

  .menu-icon i,
  .logout-icon i {
    font-size: 20px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .metrics {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin: 40px;
  }

  .metric-card {
    flex: 1 1 45%;
    padding: 20px;
  }

  .vehicle-image img {
    width: 100%;
    max-width: 800px;
  }

  .vehicle-table input {
    width: 80%;
  }

  .header-title {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .metrics {
    flex-direction: row;
    gap: 100px;
    margin: 100px 50px 50px 50px;
  }

  .metric-card {
    flex: 1;
    padding: 0px 0px 40px 0px;
  }

  .vehicle-image img {
    width: 1200px;
  }

  .vehicle-table input {
    width: 70%;
  }

  .header-title {
    font-size: 3.5rem;
  }
}

@media (max-width: 600px) {
  .vehicle-image img {
    max-width: 100%;
    height: auto;
  }

  .vehicle-table table {
    font-size: 14px;
  }

  .vehicle-table input {
    width: 100%;
  }
}

@media (max-width: 600px) {
  .vehicle-table table {
    font-size: 12px;
  }

  .vehicle-table th,
  .vehicle-table td {
    padding: 6px;
  }

  .vehicle-table input {
    width: 100%;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .vehicle-table table {
    font-size: 14px;
  }

  .vehicle-table input {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .vehicle-table table {
    font-size: 16px;
  }

  .vehicle-table input {
    width: 300px;
  }
}