.background {
  background-image: url('./ranger.png');
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.85;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 2;
}

.menu-icon,
.logout-icon {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 6px;
}

.menu-icon i,
.logout-icon i {
  font-size: 24px;
  color: #28a740;
  cursor: pointer;
}

#sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 3;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.18);
}

#sidebar.active {
  left: 0;
}

.logo img {
  width: 100%;
  max-width: 80px;
  height: auto;
  display: block;
  margin-bottom: 20px;
}

#sidebar nav ul {
  list-style: none;
  padding: 0;

}

#sidebar nav ul li {
  margin: 0.5px 0;
  background: #ccc;
  color: rgba(40, 167, 64, 0.9)
}

#sidebar nav ul li:hover {
  color: #fff;
  background-color: #28a740;
  cursor: pointer;
}

#sidebar nav ul a li {
  text-decoration: none;
  font-size: 20px;
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
}

.card {
  position: relative;
  background-color: rgba(255, 255, 255, 0.82);
  border-radius: 12px;
  box-shadow: 0 8px 28px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 620px;
  height: 420px;
  max-width: 92vw;
}

.text-surface h2 {
  margin: 0 0 15px 0;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  background: rgba(0, 0, 0, 0.08);
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.18);
  padding: 6px;
}


.text-surface p {
  margin: 0;
  font-size: 20px;
  font-weight: 400;
  color: #007bff;
  margin-left: 8px;
}